/*------------------------------------

            GENERAL STYLES

-------------------------------------*/

@charset "UTF-8";
/********************
¡MIXINS
********************/
/********************
¡CLASSES
********************/
.gt-clear:after, .gt-squeeze:after {
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
}

.gt-squeeze {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
* Floats
*/
.none {
  float: none !important;
}

.pull--right {
  float: right !important;
}

.pull--left {
  float: left !important;
}

.clear {
  display: block;
  float: none;
  clear: both;
}

/*------------------------------------*\
              ¡BUTTONS
\*------------------------------------*/
.btn {
  border-radius:7px;
  background-color:  #e84724;
  color:#fff;
  border: none;
  padding:10px;
  margin:5px;
  text-align: center;
  width: 75px;
  font-size:.75em;
}

.group-btn{
  position:absolute;
  bottom:25px;
  right:25px;
}


/*------------------------------------*\
              ¡TYPOGRAPHY
\*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/*------------------------------------*\
              ¡GENERAL
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: #fdfbef;
  color: #494949;
  font-family: sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.gt-wrap {
  height: auto !important;
  height: 100%;
  margin-bottom: -100px;
  min-height: 100%;
  position: relative;
}

/*------------------------------------*\
                ¡BOX
\*------------------------------------*/
.box-wrap {
  margin: 50px 0;
}

.box {
  width: 32%;
  float: left;
  padding: 5px;
  position: relative;
}
  .box:nth-child(n) {
    margin-bottom: 2%;
    margin-right: 2%;
  }
  .box:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }
  .box img {
    border-radius: 25px;
    display: block;
    margin: 0 0 10px;
    width: 100%;
  }


/*------------------------------------*\
                ¡HEADER
\*------------------------------------*/
header {
  background-color: #fff;
  border-bottom: solid 3px #f8f1c8;
  height: 120px;
  margin: -15px 0 10px;
}
  header h1 {
    line-height: 100px;
  }
  a.header-logo{
    margin: 10px auto 1px auto;
    display:block;
    height:auto;
    text-align:center;

  }

  a.header-logo img{
    width:50%;
    margin: 10px auto 20px auto;
    text-align:center;
  }
/*------------------------------------*\
                ¡NAV
\*------------------------------------*/
nav {
  /*display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;*/

}

  .nav-wrap{
    position:absolute;
    top:50px;
    right:100px;
    width:505px;
  }
  nav a {
    color: #c39a4e;
    display: inline-block;
    float: right;
    margin: 0 5px 0 0;
    padding: 5px 10px;
    text-decoration: none;
    text-transform:uppercase;
    font-weight:bold;
  }
    nav a:hover, nav a:active {
      color: #494949;
    }
    nav a:last-child {
      margin: 0;
    }

.welcome-msg {
  color:#8fd4da;
  float:right;
  line-height: normal;
  padding-top:5px;
}
/*------------------------------------*\
                ¡FOOTER
\*------------------------------------*/
.gt-push,
footer {
  height: 100px;
}

footer {
  border-top: solid 1px #CCC;
  padding: 10px 0;
}
/*------------------------------------
            HOMEPAGE STYLES
            Kris
-------------------------------------*/
/*
h1{
	text-align: center;
	margin: auto
}

p{
	text-align: center;
	margin: auto;
}

/*------------------------------------
            DASHBOARD STYLES
            Melody
-------------------------------------*/




/*.dashboard_display{
  width:325px;
  height:200px;
  display:inline-block;
  border: 1px solid #CCC;
}
.dashboard_display img{
  width:90%;
  margin:2.5%;
}

.dashboard_display button{

}

/*------------------------------------
            PROFILE STYLES
            Derek
-------------------------------------*/


/*------------------------------------
            SEARCH STYLES
            Jackson
-------------------------------------*/
/*hashtag a {
  border: solid 1px;
  color: #494949;
  display: inline-block;
  float: left;
  margin: 0 5px 0 0;
  padding: 5px 10px;
  text-decoration: none;
}
  hashtag a:hover, hashtag a:active {
    color: #494949;
  }
  hashtag a:last-child {
    margin: 0;
  }*/
