<div class="nav-wrap">
  <div class="welcome-msg ">
    [Username]
  </div>
    <nav>
      <a href="/user/profile/"><i class="fa fa-user"></i></a>
      <a  href="/user/dashboard/"><i class="fa fa-dashboard"></i></a>
      <a href="/search/"><i class="fa fa-search"></i></a>
    </nav>

</div>
<div class="gt-squeeze">
  <div class="logo-wrap">
    <a class="header-logo" href="/">
      <img src="/images/logo.png" alt="Gramtracker Logo" />
    </a>
      </div>


</div>
