<div class="box-wrap gt-clear">
  {{#each feed}}
  <div class="box">
  <!--  <img src="http://placehold.it/300x200" />-->
    <img src="{{this.images.standard_resolution.url}}" alt="" />
    <div class="group-btn gt-clear">
      <button class="btn accent-1 pull--left no-hover"><i class="fa fa-heart"></i> {{this.likes.count}}</button>
      <button class="btn accent-1 pull--right no-hover"><i class="fa fa-comment"></i> {{this.comments.count}}</button>

    </div>
  </div>
  {{/each}}
</div>
