<div class="box-wrap gt-clear">
  <div class="box">
    <img src="http://placehold.it/300x200" />
    <div class="group-btn gt-clear">
      <button class="btn accent-1 pull--left"><i class="fa fa-heart"></i></button>
      <button class="btn accent-1 pull--right"><i class="fa fa-thumbs-down"></i></button>
    </div>
  </div>
  <div class="box">
    <img src="http://placehold.it/300x200" />
    <div class="group-btn gt-clear">
      <button class="btn accent-1 pull--left"><i class="fa fa-heart"></i></button>
      <button class="btn accent-1 pull--right"><i class="fa fa-thumbs-down"></i></button>
    </div>
  </div>
  <div class="box">
    <img src="http://placehold.it/300x200" />
    <div class="group-btn gt-clear">
      <button class="btn accent-1 pull--left"><i class="fa fa-heart"></i></button>
      <button class="btn accent-1 pull--right"><i class="fa fa-thumbs-down"></i></button>
    </div>
  </div>
  <div class="box">
    <img src="http://placehold.it/300x200" />
    <div class="group-btn gt-clear">
      <button class="btn accent-1 pull--left"><i class="fa fa-heart"></i></button>
      <button class="btn accent-1 pull--right"><i class="fa fa-thumbs-down"></i></button>
    </div>
  </div>
  <div class="box">
    <img src="http://placehold.it/300x200" />
    <div class="group-btn gt-clear">
      <button class="btn accent-1 pull--left"><i class="fa fa-heart"></i></button>
      <button class="btn accent-1 pull--right"><i class="fa fa-thumbs-down"></i></button>
    </div>
  </div>
  <div class="box">
    <img src="http://placehold.it/300x200" />
    <div class="group-btn gt-clear">
      <button class="btn accent-1 pull--left"><i class="fa fa-heart"></i></button>
      <button class="btn accent-1 pull--right"><i class="fa fa-thumbs-down"></i></button>
    </div>

  </div>
</div>
