<div class="hashtags">
  <nav>
  	{{#each tags}}
  		<form method = "post">
  		{{this}}
  		<input type = "hidden" name = "tag" value="{{this}}">
  		<input type = "submit" name = "search" value = "re-search" class = "btn">
  		<input type = "submit" name = "remove" value = "delete" class = "btn">
  	</form>
{{!--     <a href="/search/searchResult" class="btn">#TEST</a> --}}
    {{/each}}
  </nav>
</div>
