<form method = "post">
  <input type="text" placeholder="Search" class="gt-input-form" name = "search" required>
  <input type = "submit" name = "submit" value = "submit" class = "btn">
  {{!-- <a href="/search/searchResult/" class="btn">search</a> --}}
</form>
