<div class="hashtags">
  <nav>
  	{{#each tags}}
  		<form method = "post" class="saved-search-item">
  		<input type = "hidden" name = "tag" value="{{this}}">
  		<input type = "submit" name = "search" value = "{{this}}" class="search-btn">
  		<input type = "submit" name = "remove" value = "X" class="search-btn bold">
  	</form>
{{!--     <a href="/search/searchResult" class="btn">#TEST</a> --}}
    {{/each}}
  </nav>
</div>
