<form method = "post">
  <input type="text" placeholder="Search" class="gt-input-form" name = "search" value = "{{search}}" required>
  <input type = "submit" name = "submit" value = "submit" class = "btn">
  {{!-- THIS NEEDS TO SAVE THE SEARCH TO THE DATABASE --}}
  <a href="/search/searchHistory/" class="btn">save search</a>
</form>
