<form method = "post">
  <input type="text" placeholder="Search" class="gt-input-form inline" name = "tag" required>
  <input type = "submit" name = "search" value = "submit" class = "btn main-search">
</form>
