<form method = "post">
  <input type="text" placeholder="Search" class="gt-input-form" name = "tag" value = "{{search}}" required>
  <input type = "submit" name = "submit" value = "submit" class = "btn">
  {{!-- THIS NEEDS TO SAVE THE SEARCH TO THE DATABASE --}}
  <input type = "submit" name = "save" value = "save" class = "btn">
</form>
