<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Gramtracker - Track your favorite grams and find them later!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link href="/css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
	<div class="gt-wrap">
		<div class="gt-content">
			<div class="gt-squeeze">
				<!-- <img style="display:block; margin: 20px auto;" src="/img/css.gif" /> -->
        {{{body}}}
			</div>
		</div>
		<div class="gt-push"></div>
	</div>
</body>
</html>
