<div class="gt-wrap">
  <!--Now add group logo to page-->
    <div class="gt-squeezeNoMore">
    <div class="logo-wrap">
      <a class="header-logo" href="/">
      <img src="/images/logo-large.png" alt="Gramtracker Logo Big"/></a>
    </div>
  </div>

  <!--tell user what gramtracker is and have him/her sign-up/log-in to a social media with buttons-->
    <div class="home-text">
      <p class="home-msg">This is gramtracker. The app that lets you see your photos from any of your
      social media sites. Please Sign Up first so that I can show you your photos
      and saved seaches with gramtracker. If you are already a member then please
      Log In.</p>
    </div>

    <div class="home-btn">
      <form method="link" action="/user/dashboard/">
        <input type="submit" value="SIGN UP" name="total" class="btn"/>
      </form>

      <form method="link" action="/user/profile/">
        <input type="submit" value="LOGIN" name="total2" class="btn"/>
      </form></br>
    </div>
  </div>
